.RestaurantCardContainer {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}
.RestaurantCardContainer h2 {
  font-size: 2rem;
  color: black;
}
